// variables
//// containers
$container: 100%;
$container-lg: 1200px;
$container-md: 960px;
$container-sm: 560px;
 
//// grid
$d-grid: grid; 
$d-flex: flex; 

//// grid colums
$g-columns: 12;

//// font size
$header-1: 4rem;  
$header-2: 3.5rem;
$header-3: 3rem;
$header-4: 2.5rem;
$header-5: 2rem;
$header-6: 1.5rem; 
$p: 1rem;